:root {
  --dark: #222831;
  --grey: #393E46;
  --orange: #D65A31;
	--light: #EEEEEE;
  --blue: #22267B;
  --green: #17B794;
}

body {
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	background: var(--dark);
	margin: 0;
  color: var(--light);
}

.header__card {
  display: flex;
  justify-content: center;
  padding-left: 5em;
  padding-right: 5em;
  font-size: 1.4em;
}

.header__card--title {
  color: var(--light);
  font-size: 1.5em;
  height: 15%;
}

.header__card--title a {
  color: var(--light);
  padding: 0.5em;
  text-decoration: none;
}

.text__paragraph {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
}

.text--block {
  width: 50%;
  position: fixed;
  padding: 20px;
  height: 85%;
  overflow: auto;
}

.left {
  left: 0;
  background-color: var(--blue);
  color: var(--green);  
}

.right {
  right: 0;
  background-color: var(--grey);
  color: var(--orange);
}