:root {
  --dark: #1A192A;
  --grey: #15153C;
	--light: #F9F6F6;
  --navy: #2A3C77;
	--blue: #7EADBD;
}

body {
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	background: var(--blue);
	margin: 0;
  color: var(--light);
}

.header__card {
  display: flex;
  justify-content: center;
  padding-left: 5em;
  padding-right: 5em;
  background: var(--navy);
}

.header__card--title {
  justify-content: center;
  color: var(--light);
}

.header__card--title a {
  color: var(--light);
  padding: 0.5em;
  text-decoration: none;
}

.text--block {
  width: 50%;
  position: fixed;
  padding-top: 20px;
  max-height: 100%;
  overflow: auto;
}

.left {
  left: 0;
}

.right {
  right: 0;
}